@namespace Zdk.Client.WOSRS

<BaseContainerComponent IsStatic="true">
    <h6>@ScheduledItem.Item.ItemName</h6>
    <p>@date  </p>
</BaseContainerComponent>

@code {
    [Parameter]
    public ScheduledItemContainer ScheduledItem { get; set; }

    private string date => $"{ScheduledItem.Date.DayOfWeek.ToString()} {ScheduledItem.Date.Day}.{ScheduledItem.Date.Month}.{ScheduledItem.Date.Year}";

}
