@page "/ShoppingLists"

@namespace Zdk.Client

@inherits AuthenticatedBase
@implements IAsyncDisposable

@inject HttpClient Http
@inject ShoppingListsRepo ShoppingListsRepo
@inject UserRepo UserRepo

<h3 @onclick="() => _shoppingList = null">Shopping lists</h3>

@if (_groups is not null)
{
    <GroupSelect Groups="_groups" @bind-Group="SessionGroup" OnChanged="ChangeGroup" />
}

@if (_shoppingList is not null)
{
    <button @onclick="() => _shoppingList = null">Go back</button>
    <ItemsComponent ShoppingList="_shoppingList" />
}
else if (_shoppingLists is not null)
{
    <ShoppingListsComponent ShoppingLists="_shoppingLists" @bind-ShoppingList="_shoppingList" />
}
else
{
    <p>Loading...</p>
}
