@page "/User"

@namespace Zdk.Client

@inherits AuthenticatedBase
@implements IAsyncDisposable

@attribute [Authorize]

@inject HttpClient Http
@inject ShoppingListsRepo ShoppingListsRepo
@inject UserRepo UserRepo

@if (groups is not null && session is not null && groupMemberships is not null && users is not null)
{
    <div>
        <CreateGroup OnSubmit="CreateGroup" />
        <GroupSelect Groups="groups" @bind-Group="SessionGroup" OnChanged="ChangeGroup" />
    </div>
    <div>
        <UsersComponent Users="users" GroupMemberships="groupMemberships" GroupId="SessionGroup" />
    </div>
}
else
{
    if (groups is not null)
    {
        <p>Groups loaded</p>
    }

    if (groupMemberships is not null)
    {
        <p>Memberships loaded</p>
    }

    if (users is not null)
    {
        <p>users loaded</p>
    }

    if (session is not null)
    {
        <p>session loaded</p>
    }

    <p>Loading...</p>
}
