<div style="display: inline-flex;">
    <form id="groupForm" @onsubmit="@(e => { OnSubmit.InvokeAsync(name); name = ""; })" style="margin: 10px;">
        <input form="groupForm" style="min-width: 200px; height: 30px;" @bind="name" />
        <button form="groupForm" style="height: 30px;" type="submit">Create</button>
    </form>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    private string name = "";

}
