.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  // background-color: $surface;
  height: 40px;
  padding: 0 10px;

  &__home {
    // margin-left: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
  }

  &__sign-in {
    padding: 5px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;

    img {
      height: 20px;
      border-radius: 50%;
    }
  }

  a {
    &:hover {
      text-decoration: none;
      background-color: $primary-variant;
      color: $on-primary-variant;
    }
  }
}
