@import url('openiconic/font/css/open-iconic-bootstrap.min.css');

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 20, 100) 0%, #000000 70%);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navlink-text {
    display: block;
    transition: .5s;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    transition: .5s;
}

.nav-item:first-of-type { 
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-item-icon {
    transition: .5s;
}

@media (max-width: 640.98px) {
    .top-row {
        width: 100vw;
    }

    .bottom-row {
        display: none;
    }

    .navbar-collapse {
        width: 100vw;
    }

    .navbar-toggler-lg {
        display: none;
    }

    .navbar-toggler-sm {
        display: flex;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar-center {
        width: 100%;
        text-align: center;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        font-size: larger;
        transition: .5s;
    }

    .bottom-row {
        height: 3.5rem;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-left: 0 !important;
    }

        .bottom-row > div {
            width: 100%;
        }

    .nav-item-icon-lg {
        font-size: 2rem;
        transition: .5s;
    }

    .navbar-toggler-lg {
        display: block;
        margin: auto;
    }

    .navbar-toggler-sm {
        display: none;
    }
}
