@namespace Zdk.Client

@inherits ZComponentBase

@inject ShoppingListsRepo ShoppingListsRepo
@inject UserRepo UserRepo

<TableComponent Items="items">
    <TableHeader>
        <th style="text-align: left;">Name</th>
        <th style="width: 10%;">Qty</th>
        <th style="width: 10%;"></th>
        <th style="width: 10%;">Sold out</th>
    </TableHeader>
    <RowTemplate>
        <td style="text-align: left;">@context.ItemName</td>
        <td style="width: 10%;">@context.Amount</td>
        <td style="width: 10%;">
            <button type="button" @onclick="(() => ShoppingListsRepo.DeleteItem(context))">
                Delete
            </button>
        </td>
        <td style="width: 10%;">
            <input type="checkbox" value="@context.SoldOut" checked="@(context.SoldOut)"
                @onchange="(() => ToggleSoldOut(context))" />
        </td>
    </RowTemplate>
    <TableFooter>
        <td style="text-align: left;">
            <input form="itemForm" style="width:100%;" @bind="NewItem.ItemName" maxlength="200" />
        </td>
        <td style="width: 10%;">
            <input type="number" form="itemForm" style="width: 50px; text-align: right;" @bind="NewItem.Amount"
                min="1" />
        </td>
        <td style="width: 10%;">
            <button type="submit" form="itemForm">
                Add
            </button>
        </td>
    </TableFooter>
</TableComponent>
<form id="itemForm" @onsubmit="OnSubmit">
</form>
