@namespace Zdk.Client

@inherits ZComponentBase

<EditForm Model="newShoppingList" OnSubmit="OnSubmit" Context="formContext">
    <TableComponent Items="ShoppingLists">
        <TableHeader>
            <th style="text-align: left;">Name</th>
            <th style="width: 10%;"></th>
        </TableHeader>
        <RowTemplate>
            <td style="text-align: left;" @onclick="(() => shoppingList = context)">
                @context.ShoppingListName
            </td>
            <td style="width: 10%;">
                <button type="button" @onclick="() => Delete(context)">Delete</button>
            </td>
        </RowTemplate>
        <TableFooter>
            <td style="text-align: left;">
                <InputText @bind-Value="((ShoppingList)formContext.Model).ShoppingListName" style="width:100%;" />
            </td>
            <td style="width: 10%;">
                <button type="submit">Add</button>
            </td>
        </TableFooter>
    </TableComponent>
</EditForm>
@* <form id="slForm" @onsubmit="OnSubmit" /> *@
