@namespace Zdk.Client

@inherits ZComponentBase

@inject UserRepo UserRepo

<table style="width: 100%; max-height: 80vh; margin: auto;">
    <tbody>
        @foreach (var u in Users)
        {
            <tr>
                <td>@u.Name</td>
                <td>
                    @if (InGroup(u.Id))
                    {
                        <button @onclick="() => UserRepo.RemoveUser(u)">Remove</button>
                    }
                    else
                    {
                        <button @onclick="() => UserRepo.AddUser(u)">Add</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
