<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    <div class="main-layout">
      {{template "partials/header" .}}
      <div class="main-layout__body">
        {{template "partials/sidebar/sidebar" .}}
        <div class="main-layout__content">{{embed}}</div>
      </div>
    </div>
    <script src="js/index.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/user.js"></script>
  </body>
</html>
