package view

templ Settings() {
    <h3>Settings</h3>

    <h4>Choose ordering method</h4>
    // <OrderTypeSelect bind-Selected="OrderType" />
    <br />
    <h4>Use point system?</h4>
    // <PointSystemSelect bind-Selected="PointSystem" />
}
