package view

import "github.com/sknutsen/Zdk/models"

templ ShoppingListsPage(state models.ShoppingListsState) {
    @MainLayout(state.State) {
        <div class="shoppinglists-page">
            <div class="shoppinglists-page__add-form">
            </div>
        </div>
    }
}

templ ShoppingLists() {
    <div>
        
    </div>
}
